<div>
  <div class="body-store">
    one store
  </div>
  <p class="body-text">Rent or Buy Books. Pick a Book from our Store</p>
  <div>
    <%= image_tag "rent.jpg"%>
  </div>
</div>
<div class="fixed-bottom">
    2017
</div>