<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card" style="width: 20rem;">
        <%= image_tag 'dreaming.jpg' %>
      </div>
    </div>
    <div class="col-8">
    <p>Poignant and captivating, Ignatz Award winner Tillie Walden's powerful graphic memoir, Spinning, captures what it's like to come of age, come out, and come to terms with leaving behind everything you used to know.
      It was the same every morning. Wake up, grab the ice skates, and head to the rink while the world was still dark.
    </p>
    </div>
  </div>
</div>