.body-store{
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 150px;
  color:#96DCED;
  margin-top: 60px;
}

.body-text {
  text-align: center;
  margin-top: 10px;
  color:#21a0d6;
}

img{
  height: 250px;
  width: 100%;
  margin: auto;
}

.row{
  margin-top: 30px;
}