<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #96DCED;">
  <a class="navbar-brand" href="#">ONE STORE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">GET STARTED</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">
        Your Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Login</a>
          <a class="dropdown-item" href="#">Sign up</a>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to 'Get A Book', class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>
<nav class="nav navbar-light bg-light justify-content-center">
  <ul class="nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" data-toggle="dropdown" href="#">CATEGORIES</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
        <a class="dropdown-item" href="#">Drama</a>
        <a class="dropdown-item" href="#">Romance</a>
        <a class="dropdown-item" href="#">Mystery</a>
      </div>
    </li>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </ul>
</nav>